@model IEnumerable<TyoaikaApp.Models.Bulletin>
@{
    ViewBag.Title = "Tiedotteet";
}

<h1>Tiedotteet</h1>

<div class="bulletin-container">
    @if (User.IsInRole("ROLE_ADMIN") || User.IsInRole("ROLE_SUPER_ADMIN"))
    {
        <div class="add-button">
            <a href="@Url.Action("Create", "Bulletin")" class="btn btn-default"><i class="fa fa-plus fa-lg"></i> Lisää uusi</a>
        </div>
    }
    @foreach (var item in Model) {
        <div class="bulletin">
            <div class="bulletin-head">
                <span class="bulletin-title">@Html.DisplayFor(modelItem => item.Header)</span>
                <div class="date-created">
                    @Html.DisplayFor(modelItem => item.Date)
                </div>
            </div>
            <div class="bulletin-main">
                @Html.DisplayFor(modelItem => item.Content)
            </div>
            <div class="bulletin-footer">
                Kirjoittaja: @Html.DisplayFor(modelItem => item.ApplicationUser.FirstName) @Html.DisplayFor(modelItem => item.ApplicationUser.LastName)
                @if (User.IsInRole("ROLE_ADMIN") || User.IsInRole("ROLE_SUPER_ADMIN"))
                {
                <div class="admin-buttons">
                    <a href="@Url.Action("Edit", "Bulletin", new { id = item.ID })" class="btn btn-default"><i class="fa fa-pencil fa-lg"></i> Muokkaa</a>
                    <a href="@Url.Action("Delete", "Bulletin", new { id = item.ID })" class="btn btn-default"><i class="fa fa-trash-o fa-lg"></i> Poista</a>
                </div>
                }
            </div>
        </div>
    }
</div>
