@using Microsoft.AspNet.Identity
@using System.Data.Entity;
@using System.Linq;
@using TyoaikaApp.Models;

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - TyöaikaAppi</title>    
    @Styles.Render("~/Content/themes/base/css")
    <link href="@Url.Content("~/Content/font-awesome.min.css")" rel="stylesheet" type="text/css" />
    @Styles.Render("~/Content/themes/base/css")
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    @if (Request.IsAuthenticated)
    {
        using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navigation" }))
        {
        @Html.AntiForgeryToken()
        <div class="navigation">
            <div class="top">
                <div id='logo'>
                    <span class="image"><img src="@Url.Content("~/Content/images/logo.png")" alt="TyöaikaAppi logo" /></span>
                    <h1 id="title">
                        @{
                        ApplicationDbContext db = new ApplicationDbContext();
                        var userId = User.Identity.GetUserId();
                        var user = db.Users.Where(i => i.Id == userId).SingleOrDefault();
                        var username = user.FirstName + " " + user.LastName;
                        }
                        @username
                    </h1>
                    <p><a href="javascript:document.getElementById('logoutForm').submit()">Kirjaudu ulos <i class="fa fa-sign-out"></i></a></p>
                </div>
                <nav id="nav">
                    <ul>
                        <li><a href="@Url.Action("Index", "Home")"><span class="icon fa-thumb-tack">Etusivu</span></a></li>
                        <li><a href="@Url.Action("Index", "Timesheet")"><span class="icon fa-clock-o">Työaika</span></a></li>
                        <li><a href="@Url.Action("Manage", "Account")"><span class="icon fa-cog">Asetukset</span></a></li>
                    </ul>
                    @if (User.IsInRole("ROLE_ADMIN") || User.IsInRole("ROLE_SUPER_ADMIN"))
                    {
                        <h3>Hallinta</h3>
                        <ul>
                            <li><a href="@Url.Action("Edit", "Timesheet")"><span class="icon fa-clock-o">Työajan korjaus</span></a></li>
                            <li><a href="@Url.Action("Index", "Report")"><span class="icon fa-file-text-o">Raportit</span></a></li>
                            <li><a href="@Url.Action("ListUsers", "Account")"><span class="icon fa-users">Työntekijät</span></a></li>
                        </ul>
                    }
                    
                </nav>
            </div>
        </div>
        }
    }
    <div class="body-content">
        <div id="main-container">
            @RenderBody()
        </div>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryui")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/main")
    @RenderSection("scripts", required: false)
</body>
</html>
